body {
    margin: 0;
    height: 100vh;
    padding-top: 6rem;
    background-image: url('https://images.unsplash.com/photo-1557821552-17105176677c?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100vw;
    margin: 0;
    z-index: 1;
}

.display {

}

#footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    margin: 0;
    z-index: 1;
}

.random-card {
    display: flex;
    height: 45vh;
    justify-content: center;
    align-items: center;
}

.card {
    text-align: center;
}

/* Display Cards */
#kept-cards1 {
    margin: 2rem 2rem;
    background-color: rgba(255,255,255,.75);
}

#kept-cards2
{
    margin: 2rem 2rem;
    background-color: rgba(255,255,255,.75);
}

p {
    text-align: center;
}